.otp input {
  border: 1px solid #333;
  width: 40px;
  height: 40px;
  font-size: 25px;
  font-weight: 500;
  margin: 0 5px;
  text-align: center;
}

.otp input:focus {
  outline: none;
  border: 1px solid #333;
}
