.star-container {
  display: flex;
  flex-direction: row;
}

.star-wrapper {
  margin: 5px;
}

.star-container button {
  cursor: pointer;
}

.star-rating-emoji {
  text-align: center;
  font-size: 40px;
  margin-top: 20px;
}
