.words-screen {
  border: 2px solid #444950;
  width: 500px;
  font-weight: 400;
  margin: 10px 0;
}

.words-screen span {
  font-weight: 700;
  font-size: 22px;
  margin-left: 3px;
}

.keyboard-keys {
  margin: 5px 0;
  width: 500px;
  text-align: center;
}

.keyboard-keys button {
  margin: 0 5px;
  padding: 5px 10px;
  font-size: 15px;
  border: 1px solid #444950;
}

.time-left {
  font-weight: 500;
  margin-top: 15px;
}
