.alert-container {
  display: flex;
  flex-direction: column;
  border: 1px solid olive;
  position: fixed;
  margin: 15px;
}

.alert-close-btn {
  cursor: pointer;
}

.alert-message,
.alert-close-btn {
  padding: 4px;
}

.alert-success {
  background-color: aqua;
}

.alert-error {
  background-color: rebeccapurple;
}

.alert-warning {
  background-color: brown;
}

.alert-info {
  background-color: blue;
}

.alert-top-left {
  top: 1px;
  left: 1px;
}

.alert-top-right {
  top: 12px;
  right: 10px;
}

.alert-bottom-left {
  bottom: 12px;
  left: 10px;
}

.alert-bottom-right {
  bottom: 12px;
  right: 10px;
}

.toast-container {
  position: fixed;
  flex-direction: column;
  gap: 0.5rem;
}

.alert-duration {
  display: flex;
  margin: 15px 0;

  justify-content: space-between;
}

.alert-duration input {
  width: 150px;
}
